{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>

<form id="text" action="" method="get">

    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>

<br>
<span id="message"></span>
<br><br>

<a href="{% url 'all' %}">Посмотреть все строки</a>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>